.introheader {
    padding-top: 100px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../../../assets/images/clouds2.jpg) no-repeat center center;*/
    background-size: cover;
}

#header-title {
    color: white;
}

footer {
    background-color: #f8f8f8;
    padding: 25px 0;
}

#login-title {
  text-align: center;
}
