<div ng-include="'components/navbar/navbar.html'"></div>

<header>
  <div class="introheader">
    <h1 id="header-title">Log In</h1>
    <p class="lead">Login Now To Access Your Project Information</p>
  </div>
</header>


<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h2>Log In</h2>
    </div>
    <br>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email" required>
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <br>

        <div>
          <button class="btn btn-embossed btn-primary btn-lg btn-block" type="submit">
            Log In
          </button>
        </div>
      </form>
      <hr>
    </div>
  </div>
  <hr>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/project">Browse</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/contribute">Contribute</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/docs">Docs</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/aboutus">About Us</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/signup">Register</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Crowd Crunch 2014. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

