<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Create New Project</h1>
    <p class="lead">Submit your project information to harness the power of distributed computing</p>
  </div>
</header>


<body>
	<div class="container">
		<div class="col-md-6 col-md-offset-3">

			<!-- PAGE TITLE -->
			<div class="page-header">
				<h2><span></span>Register Your Project Information</h2>
			</div>

			<br>
			
			<!-- SHOW ERROR/SUCCESS MESSAGES -->
			<div id="messages" ng-show="message">{{message}}</div>

			<!-- FORM, novalidate disables brower's native form validation so value of email won't set unless it passes input validation -->
			<form name="projectForm" novalidate ng-submit="submitForm()">

				<!-- Project Name -->
				<div id="project-name" class="form-group" ng-class="{ 'has-error' : projectForm.projectname.$invalid && !projectForm.projectname.$pristine }">
					<label>Project Name</label>
					<input type="text" name="projectname" class="form-control" placeholder="Enter the name of your project..." ng-model="projectData.projectname" ng-minlength="3" ng-maxlength="50" required>
					<p ng-show="projectForm.projectname.$error.minlength" class="help-block">Project Name is too short.</p>
					<p ng-show="projectForm.projectname.$error.maxlength" class="help-block">Project Name is too long.</p>
				</div>

				<!-- Project Developer/Creator -->
				<div id="project-developer" class="form-group" ng-class="{ 'has-error' : projectForm.developer.$invalid && !projectForm.developer.$pristine }">
					<label>Project Developer</label>
					<input type="text" name="developer" class="form-control" placeholder="Enter the name of your project's developer..." ng-model="projectData.developer" ng-minlength="3" ng-maxlength="50" required>
					<p ng-show="projectForm.developer.$error.minlength" class="help-block">Project Developer's Name is too short.</p>
					<p ng-show="projectForm.developer.$error.maxlength" class="help-block">Project Developer's Name is too long.</p>
				</div>

				<!-- Project Description - uses textarea rather than input-->
				<div id="project-description" class="form-group" ng-class="{ 'has-error' : projectForm.projectDescription.$invalid && !projectForm.projectDescription.$pristine }">
					<label>Project Description</label>
					<textarea type="text" name="projectDescription" class="form-control" placeholder="Enter the name of your project..." ng-model="projectData.projectdescription" rows="5" ng-minlength="3" ng-maxlength="5000" required></textarea>
					<p ng-show="projectForm.projectDescription.$error.minlength" class="help-block">Enter a Project Description.</p>
					<p ng-show="projectForm.projectDescription.$error.maxlength" class="help-block">Project Description is too long.</p>
				</div>

				<!-- Project Duration -->
				<div id="project-duration" class="form-group">
					<label>Project Duration</label>
					<input type="text" name="duration" class="form-control" placeholder="Enter the duration of your project..." ng-model="projectData.projectduration">
					<span class="help-block"></span>
				</div>

				<!-- Computing Power Goals -->
				<div id="computing-power-goals" class="form-group">
					<label>Computing Power Goals</label>
					<input type="text" name="computing-power-goals" class="form-control" placeholder="Enter desired computer processing goal..." ng-model="projectData.goals">
					<span class="help-block"></span>
				</div>
				
				<br>
				<!-- SUBMIT BUTTON -->
				<button type="submit" class="btn btn-success btn-lg btn-block">
					Register
				</button>
			</form>
			<hr>
		</div>
	</div>
<footer class="footer">
  <div class="container">
      <p>
         <a href="/">CrowdCrunch</a>
       </p>
  </div>
</footer>
</body>


