<div ng-include="'components/navbar/navbar.html'"></div>

<header>
  <div class="introheader">
    <h1 id="header-title">Sign Up</h1>
    <p class="lead">Please Register In Order to Distribute Your Project</p>
  </div>
</header>

<body>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h2><span></span>Register</h2>
    </div>
    <br>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <!-- Name -->
        <div id="username" class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
        <label>Userame</label>
        <input type="text" name="username" class="form-control" placeholder="Enter a desired username..." ng-model="user.name" ng-minlength="2" ng-maxlength="50" required>
        <p ng-show="form.username.$error.minlength" class="help-block">Userame is too short.</p>
        <p ng-show="form.username.$error.maxlength" class="help-block">Userame is too long.</p>
        </div>

        <!-- Project Email -->
        <div id="email" class="form-group" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
          <label>Email Address</label>
          <input type="email" name="email" class="form-control" placeholder="Enter your email address..." ng-model="user.email">
          <p ng-show="form.email.$invalid && !form.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>

        <!-- Password -->
        <div id="password" class="form-group" ng-class="{ 'has-error' : form.password.$invalid && !form.password.$pristine }">
          <label>Password</label>
          <input type="{{inputType}}" name="password" class="form-control" placeholder="Enter a desired password for logging in..." ng-model="user.password" ng-minlength="3" required>
          <span ng-show="form.password.$error.minlength" class="help-block">Password must contain at least 3 characters.</span>
        </div>

        <br>

        <div>
          <button class="btn btn-embossed btn-primary btn-lg btn-block" type="submit">
            Sign up
          </button>
        </div>

      </form>
      <hr>
    </div>
  </div>
  <hr>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/project">Browse</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/docs">Docs</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/signup">Register</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Crowd Crunch 2014. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
</body>
